html {
  min-height: 100%;
}

body {
  min-height: 100%;
}

#interactive-message {
  min-height: 50%;
  max-height: 50%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

#message-container {
  border-left: 6px solid red;
  background-color: lightgrey;
  padding: 1em;
}

#option-container {
  border-left: 6px solid green;
  background-color: lightgrey;
  padding: 1em;
}