#message-container {
  border-left: 6px solid red;
  background-color: lightgrey;
  padding: 1em;
}

.message-box {
  overflow: hidden;
  display: inline-block;
  margin: 0 0 .125rem 0;
  padding: .5rem .85rem;
  border-radius: 1.25rem;
  transform-origin: 0 100%;
  vertical-align: middle;
  transition: border-radius .25s ease-out .075s;
  background: white;
}

.message-text {
  font-family: "Helvetica", "Arial", sans-serif;
  line-height: 1.5rem;
}

.appeared {
  //height: auto;
  //animation: appear 2s ease forwards;
}

.message-box-loading {

}

.message-loading {
  &:after {
    font-weight: bolder;
    content: "• • •";
    -webkit-animation: cycleOne 1s ease-in-out infinite;
  }
}

// from: https://codepen.io/michaellee/pen/jknyw
// modified a lot
.loading-box {
  height: 4em;
  width: 8em;
  background: #e5e5e5;
  border-radius: 1.25em;
  position: relative;

  .tail {
    height: 1.39em;
    width: 1.39em;
    background: #e5e5e5;
    position: absolute;
    bottom: 0.11em;
    border-radius: 50%;

    &:before {
      height: 0.67em;
      width: 0.67em;
      background: #e5e5e5;
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      left: -0.56em;
      bottom: -0.44em;
    }
  }

  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    z-index: 10;
    width: 4em;

    .dot {
      &:after {
        content: "•••";
        font-size: 5em;
        -webkit-animation: cycleOne 1s ease-in-out infinite;
      }
    }
  }
}

@-webkit-keyframes cycleOne {
  0%, 100% {
    opacity: 0.2;
  }

  50% {
    opacity: 0.8;
  }
}