#message-container {
  border-left: 6px solid red;
  background-color: lightgrey;
  padding: 1em;
}

#option-container {
  border-left: 6px solid green;
  background-color: lightgrey;
  padding: 1em;
}